version: "3.3"
services:
  mongo:
    image: "mongo:latest"
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - ./storage/mongodata:/data/db
  growthbook:
    image: "growthbook/growthbook:${SOFTWARE_VERSION_TAG}"
    ports:
      - "172.17.0.1:4967:3000"
      - "172.17.0.1:5967:3100"
    depends_on:
      - mongo
    environment:
      - MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/growthbook?authSource=admin
      - PROXY_ENABLED=1
      - API_HOST=https://${DOMAIN}
      - APP_ORIGIN=https://${DOMAIN}:6443
      - NODE_ENV=${NODE_ENV}
      - JWT_SECRET=${JWT_SECRET}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - EMAIL_ENABLED=${EMAIL_ENABLED}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - EMAIL_FROM=${EMAIL_FROM}
      - UPLOAD_METHOD=${UPLOAD_METHOD}
    volumes:
      - ./storage/uploads:/usr/local/src/app/packages/back-end/uploads
